keras_tuner==1.1.3
numpy==1.23.0
scipy==1.8.1
setuptools==61.2.0
tensorflow==2.12.*
tqdm==4.64.0
trimesh==3.12.6
Cython==0.29.30
Pillow==9.3.0
pyglet==1.5.27
matplotlib==3.5.2
open3d==0.17.0
networkx==2.8.6
pygeodesic==0.1.7